.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

.header {
  text-align: left;
  margin-left:24px;
}

.heroContainer {
  height:50vmin;
  width:100vw;
  overflow:hidden;
  position:relative;
}
.heroContainer img {
  width:100vw;
  position:absolute;
  left:0;
  bottom:-60%;
}

.specialsContainer {
  padding:20px 0;
  background-color:#b0e0e6;
  font-size:2rem;
  color:#cc0000;
}

.food-items-container {
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
  align-content:flex-start;
}
.food-items-container h5 {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.food-items-container .food-price {
  font-weight: bold;
}